.button{
    padding: 2%;
}
img{
    width: 90%;
    float: left;
}
body{
    font-size: 1.5em;
    color:white;
    background-image:
        url("https://nebula.wsimg.com/7156aacbe45c3c7c058d41c10389933f?AccessKeyId=77653BD79EC5A95A7908&disposition=0&alloworigin=1");
    background-color: transparent;